.Subscribe{
    background-color: red;
    color: white;
    border: none;
    height: 36px;
    border-radius: 2px;
    cursor: pointer;
    transition: opacity 3s;
}
.Subscribe:hover{
    opacity: 0.7;
}

.Subscribe:active{
    opacity:0.3;
}

.Join{
    background-color: white;
    color: rgb(73, 73, 177);
    border-color: rgb(73, 73, 177) ;
    border-style: solid;
    border-width: 1px;
    height: 36px;
    cursor: pointer;
    transition: background-color 1s, color 1s;
}

.Join:hover{
    background-color: rgb(73, 73, 177);
    color: white;
    box-shadow: 5 5 5 black;
}
