#countLabel{
    display: block;
    text-align: center;
    font-size: 10em;
}
#btnContainer{
    display: block;
    text-align: center;
    border: 5px;
    margin: 0em;
}
.button{
    padding: 10px 20px;
    font-size: 1em;
    color: azure;
    background-color: rgb(53, 47, 84);
    border-radius: 10px;
    cursor: grab;
}

.button:hover{
    background-color: rgb(244, 237, 237);
    color: black;
}
